<?xml version="1.0" encoding="ISO-8859-1"?>
<!DOCTYPE log4c SYSTEM "">

<log4c version="1.2.1">

        <config>
                <bufsize>0</bufsize>
                <debug level="0"/>
                <nocleanup>0</nocleanup>
        </config>

        <!-- default categories ==================================== -->
        <category name="root" priority="notice"/>

        <category name="SECURITY" priority="debug" appender="stdout"/>
        <category name="ACCESS" priority="debug" appender="syslog"/>
        <category name="CONTROL" priority="debug" appender="stderr"/>

        <category name="LB" priority="debug" appender="stdout"/>
        <category name="LB.LOGD" priority="debug" appender="stdout"/>
        <category name="LB.IL" priority="debug" appender="stdout"/>
        <category name="LB.SERVER" priority="debug" appender="stdout"/>

        <!-- default appenders ===================================== -->
        <appender name="stdout" type="stream" layout="basic"/>
        <appender name="stderr" type="stream" layout="dated"/>
        <appender name="syslog" type="syslog" layout="basic"/>

        <!-- default layouts ======================================= -->
        <layout name="basic" type="basic"/>
        <layout name="dated" type="dated"/>
</log4c>

