#
# example configuration for export notifications to MSG system
#

[interlogd]
plugin = activemq_cpp_plugin.so

[msg]
broker = tcp://dev.msg.cern.ch:6166
#broker = tcp://egi-1.msg.cern.ch:6166
#broker = tcp://egi-2.msg.cern.ch:6166
